body, html {
  height: 100%;

}
.bg {
  /* The image used */
  /* background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg"); */
  

  /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3c/GoldenMedows.jpg"); */

  /* 1/3 Height */
  height: 60%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.currentTime{
  font-size:48px
  /* text-shadow: -1px 0 #3D4D4C, 0 1px #3D4D4C, 1px 0 #3D4D4C, 0 -1px #3D4D4C; */

}

.dateTime{
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: lightgrey;
  text-align: left;
  text-shadow: -1px 0 #3D4D4C, 0 1px #3D4D4C, 1px 0 #3D4D4C, 0 -1px #3D4D4C;

}

.currentDate{
  font-size:25px
  /* text-shadow: -1px 0 #3D4D4C, 0 1px #3D4D4C, 1px 0 #3D4D4C, 0 -1px #3D4D4C; */

}

h2{
  text-shadow: -1px 0 #3D4D4C, 0 1px #3D4D4C, 1px 0 #3D4D4C, 0 -1px #3D4D4C;

}

/* Current Weather */

.icon {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.description{
  font-size: 40px;
  text-shadow: -1px 0 #3D4D4C, 0 1px #3D4D4C, 1px 0 #3D4D4C, 0 -1px #3D4D4C;

}


.temp {
  font-size: 48px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-shadow: -1px 0 #3D4D4C, 0 1px #3D4D4C, 1px 0 #3D4D4C, 0 -1px #3D4D4C;


}

.tempLabel{
  font-size: 45px;
  text-shadow: -1px 0 #3D4D4C, 0 1px #3D4D4C, 1px 0 #3D4D4C, 0 -1px #3D4D4C;

}


/* Weather forcast*/

table.weather-table thead tbody tr th {
  width: 175px;
  text-align: center; 
}


/* darktable */

#tablediv {
  padding-right: 5px;
  padding-left: 10px;
}

table.darkTable {
  font-family: "Arial Black", Gadget, sans-serif;
  border: 2px solid #000000;
  background-color: rgba(0, 0, 0, 0.5);

  width: 100%;
  height: 150px;
  text-align: center;
  border-collapse: collapse;
}
table.darkTable td, table.darkTable th {
  border: 1px solid #000000;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3px 2px;
}
table.darkTable tbody td {
  font-size: 30px;
  color: #E6E6E6;
}
table.darkTable tr:nth-child(even) {
  background: #888888;
}
table.darkTable thead {
  background: #000000;
  border-bottom: 3px solid #000000;
}
table.darkTable thead th {
  font-size: px;
  font-weight: bold;
  color: #E6E6E6;
  text-align: center;
  border-left: 2px solid #000000;
}
table.darkTable thead th:first-child {
  border-left: none;
}


/* trello */

#trellotable {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 10px;
  background-color: rgba(0, 0, 0, 0.5)
}

table.trello{
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 16px;
  border: 2px solid #000000;
  background-color: rgba(0, 98, 209, 0.4);
  width: 100%;
  height: 150px;
  text-align: center;
  border-collapse: collapse;
  color: white;
  
}

.toDoTitle{
  color: white;
}

 table.trello td, table.trello th {
  border: 1px solid #000000;
  padding: 3px 2px;
  /* font-size: 20px; */
  text-align: left;

}
/*trello tbody td {
  font-size: 30px;
  color: #E6E6E6;
}
trello tr:nth-child(even) {
  background: #888888;
}
trello thead {
  background: #3D4D4C;
  border-bottom: 3px solid #000000;
}
trello thead th {
  font-size: px;
  font-weight: bold;
  color: #E6E6E6;
  text-align: center;
  border-left: 2px solid #000000;
}
trello thead th:first-child {
  border-left: none; */ */

/*  FOOTER NOT IN USE
table.darkTable tfoot td {
  font-size: 12px;
}


$off_white:#fafafa;
$light_grey:#A39D9E;
*{
  box-sizing:border-box;
}

body{
  background-color: $off_white;
}

.container{
  margin:100px auto;
  width:809px;
}

.light{
  background-color: #fff;
}
.dark{
  /* margin-left: 65px; */


.calendar{
  /* width:275px; */
  box-shadow: 0px 0px 35px -16px rgba(0,0,0,0.75);
  font-family: 'Roboto', sans-serif;
  /* padding: 10px 15px; */
  color:#363b41;
  display: inline-block;
}

.calendar_header{
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}

.header_copy{
  color:$light_grey;
  font-size:20px;
}
.calendar_plan{
  margin:20px 0 40px;
}
.cl_plan{
  width:100%;
  height: 140px;
  background-image: linear-gradient(-222deg, #FF8494, #ffa9b7);
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
  padding:30px;
  color:#fff;
}
.cl_title{
  
}
.cl_copy{
  font-size:20px;
  margin: 20px 0;
  display: inline-block;
}

.cl_add{
  display: inline-block;
  /* width: 40px;
  height:40px; */
  border-radius:50%;
  background-color: #fff;
  cursor: pointer;
  margin:0 0 0 65px;
  color:#c2c2c2;
  padding: 11px 13px;
}
.calendar_events{
  color:$light_grey;
}
.ce_title{
  font-size:14px;
}

.event_item{
  margin: 18px 0;
  padding:5px;
  cursor: pointer;
  &:hover{
    background-image: linear-gradient(-222deg, #FF8494, #ffa9b7);
    box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
    .ei_Dot{
      background-color: #fff;
    }
    .ei_Copy,.ei_Title{
      color:#fff;
    }
  }
}

.ei_Dot,.ei_Title{
  display:inline-block;
}

.ei_Dot{
  border-radius:50%;
  width:10px;
  height: 10px;
  background-color: $light_grey;
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}
.dot_active{
  background-color: #FF8494;
}

.ei_Title{
  font-size:16px;
  /* margin-left:10px; */
  color:#FFFFFF;
}

.ei_Copy{
  font-size:12px;
  /* margin-left:27px; */
}

.dark{
  /* background-image: linear-gradient(-222deg, #646464, #454545); */
  background-color: rgba(136, 136, 136, 0.4);

  color:#fff;
  .header_title,.ei_Title,.ce_title{
    color:#fff;
  }
  
}

